<ion-header>
    <ion-toolbar>
        <ion-title>Formulario de Creacion</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label position="fixed">Marca: </ion-label>
        <ion-input [(ngModel)]="vehiculo.marca"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="fixed">Modelo: </ion-label>
        <ion-input [(ngModel)]="vehiculo.modelo"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="fixed">Año: </ion-label>
        <ion-input [(ngModel)]="vehiculo.anio"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="fixed">Precio: </ion-label>
        <ion-input [(ngModel)]="vehiculo.precio"></ion-input>
    </ion-item>

    <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button (click)="crear()">
            <ion-icon name="arrow-back-circle"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="guardarTotal()">
            <ion-icon name="checkmark-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>